.title-h1 {
  @include font (
          $size: var(--font-size-h1),
          $family: var(--font-family-title),
          $height: 1.1,
          $space: .5rem
  );
  text-transform: uppercase;
}

.title-h2 {
  padding-bottom: 10rem;
  position: relative;
  @include font (
          $size: var(--font-size-h1),
          $family: var(--font-family-title),
          $height: 1.1,
          $space: .5rem
  );
  text-transform: uppercase;
  color: var(--color-second);

  &:after {
    content: "";
    height: .3rem;
    position: absolute;
    bottom: 7.5rem;
    left: 0;
    right: 0;
    background: var(--color-border-error);
  }
}

.title-h3 {
  padding-bottom: 1.8rem;
  position: relative;
  @include font (
          $size: var(--font-size-h3),
          $family: var(--font-family-title),
          $height: 1.1,
          $space: .5rem
  );
  text-transform: uppercase;
  color: var(--color-text-active);

  &:after {
    content: "";
    height: .3rem;
    position: absolute;
    left: 0;
    bottom: .9rem;
    width: 70%;
    background: var(--color-bg-second);
    @extend %transition-3;
  }
}

.section__title--dark {
  padding-bottom: 12rem;
  color: var(--color-text-white);

  &:after {
    content: "";
    height: .3rem;
    position: absolute;
    left: 0;
    bottom: 8.1rem;
    width: 100%;
    background: var(--color-bg-error);
  }
}
