* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: var(--font-family-main);
    font-weight: 300;
    color: var(--color-dark);
}

html {
    font-size: 10px;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

figure {
    line-height: 0;
}

button,
input[type="submit"] {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* for overlay errors*/
#__parcel__error__overlay__,
#__parcel__error__overlay__ *{
    color: #ffeb3b;
}
