.footer {
  color: var(--color-text-white);
  background-color: var(--color-bg-dark);
}

.footer__inner {
  padding: 7.4rem 0;
}

.footer__company {
  color: var(--color-text-white);
  text-transform: uppercase;
  @include font (
          $size: 2.8rem,
          $family: var(--font-family-title),
          $space: .5rem
  );
}

.footer__col:not(.footer__col:first-child) {

}

.footer__list {
  width: 50%;
  margin-left: auto;
  text-align: left;
}

.footer__list-item {
  //padding: 1rem 0;
}

.footer__link {
  display: inline-block;
  font-size: 2.2rem;
  padding-bottom: 3rem;
  font-weight: 200;
}

.footer__right {
  display: flex;
  align-items: flex-end;
}

.footer__socials {
  width: 50%;
  margin-left: auto;
  transform: translateY(-2rem);
}
