@import 'utils/fonts';
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/placeholders';
@import 'utils/mixins';

@import 'components/titles';
@import 'components/text';

@import 'layout/header';
@import 'layout/container';
@import 'layout/columns';
@import 'layout/footer';

// TODO delete

.div-img {
  width: 720px;
}

.div-img-bg {
  width: 300px;
  height: 300px;
  background-image: url('../img/video-poster.jpg');
}

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
